<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register successful</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div class="container p-3">
    <h2 class="text-success">User has been registered successfully.</h2>
    <br/>
    <a th:href="@{/login}" class="text-decoration-none">Login with new user</a>
</div>
</body>
</html>